db/
certbot/
.vscode/
.env*

# dependencies
nextjs/node_modules
nextjs/.pnp
nextjs/.pnp.js

# testing
nextjs/coverage

# next.js
nextjs/.next/
nextjs/out/

# production
nextjs/build


# debug
nextjs/npm-debug.log*
nextjs/yarn-debug.log*
nextjs/yarn-error.log*
nextjs/.pnpm-debug.log*

# vercel
nextjs/.vercel
nextjs/fontello/config.json
nextjs/fontello/demo.html
nextjs/fontello/README.txt
nextjs/fontello/css/animation.css
nextjs/fontello/css/fontello-codes.css
nextjs/fontello/css/fontello-embedded.css
nextjs/fontello/css/fontello-ie7-codes.css
nextjs/fontello/css/fontello-ie7.css
nextjs/fontello/css/fontello.css
nextjs/fontello/font/fontello.eot
nextjs/fontello/font/fontello.svg
nextjs/fontello/font/fontello.ttf
nextjs/fontello/font/fontello.woff
nextjs/fontello/font/fontello.woff2
