.contact {
    list-style-type: none;
    padding-left: 0;
}

.contact li p {
    display: inline-block;
    vertical-align: top;
}

.contact li i {
    text-align: center;
    vertical-align: top;
}

.spikes {
    position: relative;
}

.spikes::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    display: block;
    height: 25px;
    background-size: 25px 100%;
    background-image: linear-gradient(150deg, var(--bs-light) 25%, transparent 25%), linear-gradient(210deg, var(--bs-light) 25%, transparent 25%);
    background-position: 0 0;
}
