/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/open-sans-v34-latin-300.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-display: swap;
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-display: swap;
}

/* open-sans-500 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/open-sans-v34-latin-500.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-display: swap;
}

// /* open-sans-600 - latin */
// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 600;
//   src: local(''),
//        url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
//   font-display: swap;
// }

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-display: swap;
}

// /* open-sans-800 - latin */
// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 800;
//   src: local(''),
//        url('../fonts/open-sans-v34-latin-800.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
//   font-display: swap;
// }


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: Open Sans;
}

/* Removes increment/decrement arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#nprogress .bar {
  background: #0275d8 !important;
}